body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f8f8fc;
  color: #333;
}

.titulo {
  text-align: center;
  padding: 1em;
  background: #c8baf4;
  color: #3c3c3c;
}

#malla-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  padding: 2rem;
}

.anio-columna {
  min-width: 250px;
  background: #e5f8f7;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.anio-columna h2 {
  text-align: center;
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 1rem;
}

.materia {
  background-color: #dcd2f2;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.materia.bloqueada {
  opacity: 0.5;
  pointer-events: none;
}

.materia.pendiente:hover {
  background-color: #b4eced;
  transform: scale(1.03);
}

.materia.aprobada {
  background-color: #a2f0c4;
  border-color: #4caf50;
  text-decoration: line-through;
}
